<div class="flex justify-center items-center flex-col">
  <div
    *ngFor="let task of tasks"
    class="flex items-center gap-2 bg-white shadow-md rounded px-8 py-4 mb-2"
  >
    <input
      type="checkbox"
      (change)="
        updateTaskStatus({
          id: task.id,
          task: task.task,
          status: !task.status
        })
      "
      [checked]="task.status === true"
      class="w-6 h-6"
    />
    <p class="text-2xl" [class.line-through]="task.status === true">
      {{ task.task }}
    </p>
    <a (click)="deleteTask(task.id)" class="cursor-pointer"
      ><em class="material-icons text-2xl">delete</em>
    </a>
  </div>

  <a
    (click)="deleteAllTasks()"
    class="cursor-pointer bg-red-500 p-3 mt-2 rounded"
    ><em class="material-icons text-4xl">delete</em>
  </a>
</div>
