<nav class="flex justify-center gap-4 p-4 mb-4 shadow-md">
  <a
    [routerLink]="['']"
    class="text-xl text-gray-900 p-3 rounded bg-slate-300 hover:bg-slate-500 transition-all"
    >Add Task</a
  >
  <a
    [routerLink]="['todoList']"
    class="text-xl text-gray-900 p-3 rounded bg-slate-300 hover:bg-slate-500 transition-all"
    >Todo List</a
  >
</nav>
<router-outlet></router-outlet>

<div
  [ngClass]="isMessage ? 'block' : 'hidden'"
  class="w-fit mx-auto mt-4 p-1 text-gray-700 bg-lime-400 rounded"
>
  {{ message }}
</div>
